
body, html {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100%;
  
}

h3, h1 {
    text-align: center;
    color: white;
}

/* Landing -------------------------------------*/
.landing {
     background-image: url('https://wallpaperstudio10.com/static/wpdb/wallpapers/1920x1080/175813.jpg');
     background-position: bottom;
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 100vh;
     text-align: left;
    
    
}

.profile {
    position: absolute;
    top: 10%;
    left: 0%;
    right: 2%;
}

.name-status h4 {
   
    padding-top: 5%;
    padding-bottom: .5%;
    font-size: 80px;
    text-align: center;
    font-weight: 100;
    color: white;
}

.name-status p {

    font-size: 20px;
    text-align: center;
    font-weight: 100;
    color: white;
}

.name-status h5 {
    font-size: 30px;
    text-align: center;
  
    color: white;
}

.img-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;     
}

.pic-border{
border: 1px solid rgba(255, 255, 255, 0.5);
background-color: rgba(255, 255, 255, 0.5);
height: 112px;
width:115px;
border-radius: 100%;
justify-self: center;
}

.picture {
    height: 110px;
    width:110px;
    border-radius: 100%;
    justify-self: center;
   
}


.social-media{
       text-align: center;
       align-self: start;
   }

.social-media-icon {
    text-align: center;
    margin: 5px;
    margin-top: 20px;
  
   }

/*  End Landing -------------------------------------*/

/* between -------------------------------------*/

.between {
    background-image: url('https://cdn.allwallpaper.in/wallpapers/2880x1800/8593/vector-rocket-space-2880x1800-wallpaper.jpg');
    background-position:bottom; 
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: auto;
    align-items: stretch;
    min-height: 100vh;

}
.display-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 60%;
    padding: 0px 30px;
   
}

.content-nav {
    /* background-color: rgba(211,211,211, 0.3); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em;
    width: 20%;
    margin-top: 2%;
    height: 40%;

}

.nav-link {
    display: block;
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 30px;
 
}

.nav-link:hover {
    font-size: 40px;
    color: white;
}

/* End Between -------------------------------------*/

/*  Profile  -------------------------------------*/
.profile-content{
  
   position: relative;
    background-image: url('https://i.pinimg.com/originals/71/40/2e/71402efb341bbeaaef7b69d019dd2d18.jpg');
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
 
}

.about-me {
    position: relative;
    top: 5%;
    padding: 2%;
}

.tech-nar {
    background-color:rgba(195,212,223, .9);
    padding: 3%;
    color: rgb(9, 9, 9);
    font-size: 20px;
}

.contact {
    font-size: 20px;
    transition: font-size .5s;
}
.contact:hover {
    font-size: 25px;
}







#tab { display:inline-block; 
    margin-left: 40px; }

/* End Profile -------------------------------------*/


/* Application Component */
.app-list{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
}

.your-weath, .moovi, .gigem{
    background-color: rgba(171, 171, 171, 0.8);
    color: #444;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}



.gif-el img{
    position:relative;
    width: 85%;
    height: 200px;
    transition: all .2s ease-in-out;
}
.gif-el img:hover { transform: scale(1.2); }

.app-text h3{
    margin-top: 0px;
    text-align: left;
    padding-left: 10px;
    color: black;
}

.app-text h4{
  
    text-align: left;
    padding-left: 10px;
    font-size: 17px;
    color: black;
}

.app-text h5{
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.app-text p {
    color: black;
    padding-left: 10px;
}


/* End of Application Component */



/* Resume*/

.resume-layout{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
   
}

.res-content {
    background-color: rgba(195,212,223, 0.9);
    color: #444;
    padding: 2%;
    padding-top: 0%;
    /* width: 100%; */
    display: grid;
    grid-template-columns: auto;
}
.res-content h3 {
    text-align: left;
    color: rgb(47, 45, 45);
    font-size: 28px;
}

.res-content h4{
    color: black;
    padding-left: 2%;
    font-size: 24px;
}
.res-content h5 {
    padding-left: 2%;
    color: black;
    font-size: 20px;
}



/* Responsive */

 @media  (max-width: 850px){
     body {
        overflow-x: hidden;
        overflow-y: scroll;
        background-image: url('https://i.pinimg.com/736x/b2/3e/fb/b23efbb4ea3ceb41a1bcaa0f24396873.jpg');
        background-position: bottom;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
      
     }

     .landing, .between, .profile-content {
         background-image: initial;
  
     }
   
     .profile {
         /* position: relative; */
         top: 4%;
         left:0%; 
         right:0%
     }
    
    .about-me{
        position: relative;
       
    }
    .nav-link {
        display: block;
        background-color:rgba(195,212,223, .3);
        color: white;
        border: none;
        outline: none;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        font-size: 15px;
     
    }
    .nav-link:hover {
        font-size: 30px;
        color: white;
    }
    
    .name-status h4 {
       
        padding-top: 5%;
        padding-bottom: .5%;
        font-size: 40px;
        text-align: center;
        font-weight: 100;
        color: white;
    }
    
    .name-status p {
    
        font-size: 15px;
        text-align: center;
        font-weight: 100;
        color: white;
    }
    
    .name-status h5 {
        font-size: 20px;
        text-align: center;
      
        color: white;
    }
    .social-media{
         display: grid;
        grid-template-columns: auto;
        left: 10%;
    }
 
 .social-media-icon {
     text-align: right;
     margin-top: 2%;
    justify-self: center;
    }

    .tech-nar {
        background-color:rgba(195,212,223, .9);
        padding: 3%;
        color: rgb(9, 9, 9);
        font-size: 18px;
    }
    
    .your-weath, .moovi, .gigem{
        background-color: rgba(171, 171, 171, 0.8);
        color: #444;
        padding: 2%;
        display: grid;
        grid-template-columns: auto;
        
    }
    
    /* .side-profile-content{
        padding-right: 200px;
        padding-left:  100px;
    }

    .about-me {
        top: 1%;
        padding-right: 100px;
        padding-left: 100px;
    }

    .tech-nar{
        padding: 0px;
    } */
 }
/* End *?